<h1>Meetups</h1>
  <h3><%= @meetup.title %></h3>
  <p><%= @meetup.details %></p>
  <p>[<%= @meetup.tags %>]</p>

<h3>Members</h3>
<div class="members">
  <ul>
    <% @members.each do |member| %>
    <li><img src="<%= member.avatar_url %>"><%= member.username %></li>
    <% end %>
  </ul>
</div>
<br>
<br>
<form method="post" meetup_id="<%= @meetup.id %>" action="/meetups/<%= @meetup.id %>" id="join_meetup_form">
  <input type="submit" value="Join <%= @meetup.title %>" id="meetup"/>
</form>
